* {
  background-color: #bcdede;
}

a {
  color: #000000;
  text-decoration: none;
}

.footer, .header, .headerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerLogo, .headerLogo, .headerNavTabs, .socialLinks {
  margin: 20px;
}